@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/Post/Adiciona" method="post">
    <label>
        Titulo: <input name="titulo"/>
    </label>
    <label>
        Resumo: <input name="resumo"/>
    </label>
    <label>
        Categoria: <input name="categoria"/>
    </label>
    <button type="submit" >Cadastrar</button>
</form>
